<div class="workshops container-fluid p-0">
    <div class="row workshops-content justify-content-center align-items-stretch m-0 p-2">
        <div class="col-lg-6 column--1 p-0">
            <div class="image-container">
                <img src="../../../assets/images/vision.jpg" alt="vision">
            </div>
        </div>
        <div class="col-lg-6 column--2 p-0">
            <h2 class="workshops-content--title mb-2 py-0">Workshop On Data Science and machine learning</h2>
            <h5 class="workshops-content--subtitle my-2 py-0">By NIVT</h5>
            <div class="container-fluid px-3">
                <p style="color: #555"> Machines guide the modern man. Be it his GPS, his traffic predictions, the weather forecast, the banking system, the cookies based advertisements or his Facebook feed, Data is the pivot of all things technical. 
                    In this Information Age, Data is Intellect. Data is Power.
                    Srijan’20 in association with NIVT India- the best analytics firm in East India- brings before you a 2-day technological workshop on “Data Science and Machine Learning”. Under the aegis of esteemed professionals, navigate through the twists and turns of the fascinating world of Data Science. Learn from the best and climb your way to the top of corporate glory.
                    Why be the puppet when you can pull the strings?
                </p>
            </div>
            <br>
            <ul class="workshops-content--guidelines">
                <h2>Guidelines for NIVT Workshop</h2>
                <li>No pre-requisite knowledge needed.</li>
                <li>Laptop must be carried.</li>
                <li>Recommended laptop specifications: 2gb memory, 10gb hddspace, i3 3rd gen or higher.</li>
                <li>Required softwares will be provided.</li>
            </ul>
            <br>
            <div class="container-fluid">
                <div class="row mb-3 px-3 justify-content-start align-items-center">
                    <div class="col-md-4 p-2">
                        <strong><fa-icon [icon]="faMapMarker"></fa-icon>&nbsp;Venue:</strong> <em style="color: #555">TEQIP Room no. 208, Jadavpur University</em>
                    </div>
                    <div class="col-md-4 p-2">
                        <strong><fa-icon [icon]="faCalendarAlt"></fa-icon>&nbsp;Date:</strong> <em style="color: #555">16th & 17th November, 2019 (10AM to 5PM)</em>
                    </div>
                    <div class="col-md-4 p-2">
                        <strong><fa-icon [icon]="faPhone"></fa-icon>&nbsp;Contact:</strong><br><em style="color: #555">Soumya: 8371825865<br>Soumyadip: 9333324765<br>Ayush: 8210789742</em>
                    </div>
                </div>
            </div>
            <div class="workshops-content--actions pl-4 mb-2">
                <a mat-button href="https://srijanju20.firebaseapp.com/reg1.html" class="button-1 mr-2">Register</a>
                <a mat-button href="../../../assets/docs/Modules for Workshop in Machine Learning.pdf" class="button-2">Modules for Workshop</a>
            </div>
            <br>
            <div class="workshops-content--social-icons pl-4 pb-4">
                <a class="icon icon--facebook" href="https://www.facebook.com/jusrijan/" target="_blank"><fa-icon id="fb" [icon]="faFacebook"></fa-icon></a>
                <a class="icon icon--twitter" href="#" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a class="icon icon--insta" href="#" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a class="icon icon--mail" href="#" target="_blank"><fa-icon [icon]="faMailBulk"></fa-icon></a>
            </div>
            <!-- <mat-card class="registration-card p-0">
                <mat-card-header class="p-3">
                    <mat-card-subtitle class="m-0 p-0">Machine Learning and Data Science Workshop</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="px-5 py-2">
                    <mat-form-field class="d-block">
                        <input matInput placeholder="Full Name" type="text">
                    </mat-form-field>
                    <mat-form-field class="d-block">
                        <input matInput placeholder="Email" type="email">
                    </mat-form-field>
                    <mat-form-field class="d-block">
                        <input matInput placeholder="Password" type="password">
                    </mat-form-field>
                    <mat-form-field class="d-block">
                        <input matInput placeholder="University" type="text">
                    </mat-form-field>
                    <mat-form-field class="d-block">
                        <input matInput placeholder="Department" type="text">
                    </mat-form-field>
                    <div class="registration-card-actions">
                        <button mat-button>Submit</button>
                    </div>
                </mat-card-content>
            </mat-card> -->
        </div>
    </div>
</div>
