<section class="workshops container-fluid p-0">
    <div class="workshops-background d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/nick_fury.png" alt="nick_fury">
    </div>
    <div class="workshops-content m-0 row justify-content-center align-items-stretch">
        <div class="col-lg-3 column--1">column 1</div>
        <div class="col-lg-6 column--2">
            <span class="workshops-title workshops-title--1">
                Workshops
            </span>
            <span class="workshops-title workshops-title--2">
                Workshops
            </span>
            <span class="workshops-title workshops-title--3">
                Workshops
            </span>
        </div>
        <div class="col-lg-3 column--3">column 3</div>
    </div>
</section>
