.landing {
    height: 100vh;
    width: 100vw;
    background: #341d6c;
    background-image: radial-gradient(ellipse farthest-corner, #111, #000);
    position: relative;

    @media screen and (max-width: 768px) {
        background-color: #000;
    }

    &-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        width: 100vw;

        img {
            overflow: hidden;
            height: 95%;
            width: auto;
            opacity: .25;

            @media screen and (max-width: 900px) {
                height: auto;
                width: 100%;
            }

            @media screen and (max-width: 600px) {
                height: auto;
                width: 100%;
            }
        }
    }

    &-nav {
        // background-color: palegreen;
        list-style: none;
        text-align: left;
        display: flex;
        flex-direction: column;
        // align-items: center;

        @media screen and (max-width: 992px) {
            visibility: hidden;
        }

        &--item {
            // background-color: palevioletred;
            display: block;
            cursor: pointer;
            font-size: 1.5rem;
            color: #ddd;
            transition: all .3s ease-out;
            
            &:hover {
                background-color: #ddd;
                color: #222;
            }
        }
    }

    &-content {
        height: 100%;

        .column {
            &--1 {
                // background-color: olivedrab;
                background-color: transparent;
            }

            &--2 {
                background-color: transparent;
            }

            &--3 {
                color: #eaeaea;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // background-color: purple;
                position: relative;

                @media screen and (max-width: 768px) {
                    height: auto;
                }

                .nav-buttons {
                    position: absolute;
                    top: 7.5%;
                    display: flex;
                    // background-color: hotpink;

                    .btn {
                        border-radius: 10%;

                        &:not(:last-child) {
                            margin-right: 1.2rem;
                        }

                        &-1 {
                            background-color: turquoise;
                        }

                        &-2 {
                            background-color: yellow;
                            padding: 1rem;
                        }
                    }

                    @media screen and (max-width: 992px) {
                        visibility: hidden;
                    }
                }

                .footer {
                    // display: inline-block;
                    // margin-top: 10px;;
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    position: absolute;
                    // top:50%;
                    // margin-top: 10px;
                    // background-color: olivedrab;
                    bottom: 0%;
            
                    &--link {
                        color:#fff;
                        // background; 
                        // border: solid 1px #fff;
                        border-radius:4px;
                        text-align:center;
                        text-decoration:none;
                        font-family:fontawesome;
                        position: relative;
                        display: inline-block;
                        font-size: 1.3rem;
                        width:50px;
                        height:40px;
                        padding-top:12px;
                        margin:0 2px;
                        backface-visibility: hidden;
                        -o-transition:all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        transition: all .3s;
                        -webkit-font-smoothing: antialiased;
            
                        @media screen and (max-width: 770px) {
                            margin-right: 1rem;
                            height: 35px;
                            width: auto;
                        }
                    }
            
                    &--link:nth-of-type(1):hover {
                        color: #3b5998;
                        transform: scale(1.15);
                    }
            
                    &--link:nth-child(2):hover {
                        color: #1da1f2;
                        transform: scale(1.15);
                    }
                    &--link:nth-child(3):hover {
                        color: #e1306c;
                        transform: scale(1.15);
                    }
                    &--link:nth-child(4):hover {
                        color: #ffa930;
                        transform: scale(1.15);
                    }
                
                }
            }
        }

        .logo-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .srijan-logo {
                // background-color: olivedrab;
                height: 325px;
                width: auto;

                @media screen and (max-width: 900px) {
                    height: 150px;
                    width: auto;
                }

                @media screen and (max-width: 600px) {
                    height: 125px;
                    width: auto;
                }

                @media screen and (max-width: 450px) {
                    height: 100px;
                    width: auto;
                }

                &-ju {
                    // background-color: red;
                    height: 40px;
                    width: auto;

                    @media screen and (max-width: 900px) {
                        height: 35px;
                        width: auto;
                    }
    
                    @media screen and (max-width: 600px) {
                        height: 30px;
                        width: auto;
                    }
    
                    @media screen and (max-width: 450px) {
                        height: 25px;
                        width: auto;
                    }
                }
            }
        }
    }
}


