<main class="landing container-fluid p-0">
    <!-- <div class="landing-background d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/images.png" alt="Avengers">
    </div> -->
    <picture class="landing-background d-flex justify-content-center align-items-center">
        <source media="(max-width: 900px)" srcset="../../../assets/images/avengers_bg_phone.jpg">
        <img src="../../../assets/images/images.png" alt="Srijan logo">
    </picture>
    <div class="landing-content row justify-content-center align-items-stretch p-0 m-0">
        <div class="col-lg-2 column--1 text-white">
            <ul class="landing-nav p-0">
                <li class="landing-nav--item m-1 p-1" routerLink="/events"><span class="line">|</span> Campus Ambassadors</li>
                <li class="landing-nav--item m-1 p-1" routerLink="/workshops"><span class="line">|</span> Workshops</li>
                <li class="landing-nav--item m-1 p-1" routerLink="/sponsors"><span class="line">|</span> Sponsors</li>
                <li class="landing-nav--item m-1 p-1" routerLink="/sponsors"><span class="line">|</span> Techknow</li>
                <li class="landing-nav--item m-1 p-1" routerLink="/sponsors"><span class="line">|</span> Our Team</li>
                <li class="landing-nav--item m-1 p-1" routerLink="/sponsors"><span class="line">|</span> Contact Us</li>
            </ul>

            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil quos nobis assumenda velit doloribus cupiditate optio laudantium, eos autem.</p> -->
        </div>
        <div class="col-lg-7 column--2 p-0">
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil quos nobis assumenda velit doloribus cupiditate optio laudantium, eos autem.</p> -->
            <div class="logo-wrapper">
                <img class="srijan-logo-ju" src="../../../assets/images/Srijan_Logo_JU.png" alt="Jadavpur University">
                <img class="srijan-logo" src="../../../assets/images/Srijan_logo.png" alt="Srijan Logo">
            </div>
        </div>
        <div class="col-lg-3 column--3 text-white pb-4">
            <!-- <div class="nav-buttons">
                <button mat-raised-button class="btn btn--1 px-2">One</button>
                <button mat-raised-button class="btn btn--1 px-2">Two</button>
            </div> -->
            <h2>About Srijan</h2>
            <style>
                .img {
                  /* border: 1px solid #ddd; Gray border */
                  border-radius: 4px;  /* Rounded border */
                  padding: 0px; /* Some padding */
                  width: 100%; /* Set a small width */
                }
                
                /* Add a hover effect (blue shadow) */
                .img:hover {
                    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                }
                </style>
                
                <a target="_blank" href="https://youtu.be/7oAc0d_W8-k">
                    <iframe class="img" src="https://www.youtube.com/embed/7oAc0d_W8-k?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                <!-- <img class="img" src="./../../../assets/images/thumbnail.jpg" alt="Forest"> -->
                </a>

            <p class="px-4" style="color:rgba(255,255,255,0.5)"> SRIJAN has always dedicated itself to the idea of promoting, showcasing, and encouraging concepts and research beyond the known periphery
                SRIJAN is not just a fest for us. It is a Religion.</p>
            
            <div class="footer container-fluid">
                <a class="footer--link" href="https://www.facebook.com/jusrijan/" target="_blank"><fa-icon id="fb" [icon]="faFacebook"></fa-icon></a>
                <a class="footer--link" href="#" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a class="footer--link" href="#" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a class="footer--link" href="#" target="_blank"><fa-icon [icon]="faMailBulk"></fa-icon></a>
            </div>
        </div>
    </div>
</main>