
<section class="subscribe container-fluid">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="subscribe-card row p-4">
            <div class="col-lg-6 subscribe-card-image d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/news.svg" alt="subscribe-img">
            </div>
            <div class="col-lg-6 subscribe-card-content d-flex flex-column justify-content-center">
                <h1 class="px-2 mb-1">Srijan Alumni</h1>
                <p class="px-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui placeat quam minus. Ad saepe, ut nam, incidunt eum sit corporis, asperiores totam recusandae natus consectetur libero. Ullam excepturi eum, labore doloremque ipsa veniam sed est voluptas fugit reiciendis obcaecati dicta!</p>
                <div class="p-2">
                    <button mat-button>Subscribe</button>
                </div>
                <div class="container social-media-icons pt-3">
                    <a class="social-media-link" href="https://www.facebook.com/jusrijan/"><fa-icon id="fb" [icon]="faFacebook"></fa-icon></a>
                    <a class="social-media-link ml-3" href="https://www.instagram.com/srijan_ju/"><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <a class="social-media-link ml-3" href="mailto:srijan.jduniv@gmail.com"><fa-icon [icon]="faMailBulk"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</section>