
<section class="subscribe container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="subscribe-card row p-3">
            <div class="col-lg-6 subscribe-card-image d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/news.svg" alt="subscribe-img">
            </div>
            <div class="col-lg-6 subscribe-card-content d-flex flex-column justify-content-center">
                <h1 class="px-2 mb-1">Get closer to the place you once called Home!</h1>
                    <p class="px-2">Dear Senior,<br>
                        Warm Greetings from 
                        <strong>
                            Faculty of Engineering & Technology, Jadavpur University !!<br><br>
                            SRIJAN<br>
                        </strong>
                        (pronounced Sr̥jana, origin: Bengali)<br><br> 
                        1. Creation<br>
                        "Emon manob somaj kobe srijan hbe"<br>
                        (Translation) When will this humanity be worthy of the Creation!"<br><br>
                        2. The biggest techno-management fest in Kolkata<br>
                        "Bhai, Srijan e Robowar ta ki koreche!"<br>
                        (Translated)"Brother, Robowar in Srijan is just awesome!"
                        <br><br>
                        In congruence with the meaning of Srijan, each year we try to <strong>create.
                        Build.
                        Innovate.
                        Imprint one footstep forward.</strong>
                        <br><br>
                        It all started in 2007 with this vision of creation and innovation. As we enter our 13th edition, the scales have gotten bigger, the stages grander but the heart stays true to the novel vision of our predecessors.
                        <br><br>
                        Few colleges can boast of a better student alumni interaction than JU. This year, we go back to our roots. To the ones who started it all. 
                        We will be sending a monthly newsletter encompassing all things technological in the campus. 
                        <br>So that, even when you are far away from your home, you get a sneak peek of what's happening within it.<br><br>

                    <strong>Help us reach all Jadavpurians by sharing this form</strong>
                
                    <br><br>
                    Soumyadip<br>(+91-9333324765) <br><br>
                    Ayush<br>(+91-8210789742)</p>
                    <br>
                <div class="p-2">
                    <a mat-button class="subscribe-button" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__R6PQalUNTM3QUExUTdORTlPSDdBMk02NkMzVlFXVS4u&embed=true"> 
                        Subscribe to Srijan 2020 News Letter
                    </a>
                </div>

                <!-- <iframe width="640px" height= "480px" src= "" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe> -->

                
                <div class="container social-media-icons pt-3">
                    <p>Follow Us: &nbsp;&nbsp;&nbsp;   </p>
                    <a class="social-media-link" href="https://www.facebook.com/jusrijan/"><fa-icon id="fb" [icon]="faFacebook"></fa-icon></a>
                    <a class="social-media-link ml-3" href="https://www.instagram.com/srijan_ju/"><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <a class="social-media-link ml-3" href="mailto:srijan.jduniv@gmail.com"><fa-icon [icon]="faMailBulk"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</section>