<main class="landing container-fluid">
    <div class="landing-background d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/images.png" alt="Avengers">
    </div>
    <div class="landing-content row justify-content-center align-items-center p-2 m-0">
        <div class="col-lg-3 col-xl-2 column--1 text-white">
            <ul class="landing-nav p-0" style="visibility: hidden;">
                <li class="landing-nav--item m-2 p-2"><span>|</span> Events</li>
                <li class="landing-nav--item m-2 p-2"><span>|</span> Workshops</li>
                <li class="landing-nav--item m-2 p-2"><span>|</span> Sponsors</li>
            </ul>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil quos nobis assumenda velit doloribus cupiditate optio laudantium, eos autem.</p> -->
        </div>
        <div class="col-lg-6 col-xl-8 column--2 p-0">
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil quos nobis assumenda velit doloribus cupiditate optio laudantium, eos autem.</p> -->
            <div class="logo-wrapper">
                <img class="srijan-logo-ju" src="../../../assets/images/Srijan_Logo_JU.png" alt="Jadavpur University">
                <img class="srijan-logo" src="../../../assets/images/Srijan_logo.png" alt="Srijan Logo">
            </div>
        </div>
        <div class="col-lg-3 col-xl-2 column--3 text-white">
            <h1> EVENTS </h1>
                <h3> Coming soon...</h3>
                <br>
                <br>
            <!-- <div class="footer container-fluid mt-3">
                <a class="footer--link" href="#" target="_blank"><fa-icon id="fb" [icon]="faFacebook"></fa-icon></a>
                <a class="footer--link" href="#" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a class="footer--link" href="#" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a class="footer--link" href="#" target="_blank"><fa-icon [icon]="faMailBulk"></fa-icon></a>
            </div> -->
        </div>

        
    </div>
    
</main>