//COLORS
$color-primary: #232323;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fafafa;
$color-black: #222;

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerHorizontalVertical {
    & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

//MEDIA QUERY MANAGER
/*
0 - 600px:  Phone
600 - 900px:  Tablet potrait
900 - 1200px: Tablet landscape
1200 - 1800px:  Normal styles (desktop)
1800px + :  Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content; } //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content; } //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content; }  //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content; }  //1800px
    }
}

.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: transparent;
        height: 3.5rem;
        width: 3.5rem;
        position: fixed;
        top: 3rem;
        left: 3rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 3rem;
            left: 3rem;
        }
        
        @include respond(phone) {
            top: 2rem;
            left: 2rem;
        }
    }

    &__background {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        left: 3.5rem;
        background-image: radial-gradient(#131313, #000);
        opacity: .95;
        z-index: 1000;
        transition: transform .7s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-port) {
            top: 3.5rem;
            left: 3.5rem;
        }

        @include respond(phone) {
            top: 2.5rem;
            left: 2.5rem;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        list-style: none;
        text-align: center;
        width: 100%;
        @include centerHorizontalVertical;
    }

    &__item {
        margin: .75rem;

        a {
            font-weight: 1200;
            -webkit-text-stroke: 0.5px white;
            color: transparent;
            font-size: 2.5rem;
            letter-spacing: .5rem;

            @media screen and (max-width: 600px) {
                -webkit-text-stroke: 1.5px white;
                font-size: 1.5rem;
            }

            @media screen and (max-width: 320px) {
                -webkit-text-stroke: 1.5px white;
                font-size: 1.15rem;
            }

            &:hover{
                // color: #000;
            -webkit-text-stroke: 1.5px #000;
            }
        }
    }

    &__link {
        &:link,
        &:visited {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 900;
        padding: 1rem 2.5rem;
        // color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(115deg, transparent 0%, transparent 50%, rgba(255,255,255,1) 50%);
        background-size: 220%;
        transition: all .4s;
        backface-visibility: hidden;
    }
        
        &:hover,
        &:active {
            background-position: 100%;
            transform: translateX(-1rem);
            // box-shadow: 1px 1px 20px rgba(0,0,0,0.9);
        }
    }

    //functionality
    &__checkbox:checked ~ &__background {
        transform: scale(120);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    //icon
    &__icon {
        position: relative;
        margin-top: 1.75rem;

        &,
        &::before,
        &::after {
            width: 1.5rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.4rem; }
        &::after { top: .4rem; }
    }

    &__button:hover &__icon::before {
        top: -.5rem;
    }
    &__button:hover &__icon::after {
        top: .5rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}